<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form method="POST" action="/team">
     <p>Enter your team name:<input type="text" name="name"></p>
     <p>Enter your coach:<input type="text" name="coach"></p>
     <p>Enter your point guard:<input type="text" name="pg"></p>
     <p>Enter your shooting guard:<input type="text" name="sg"></p>
     <p>Enter your power forward:<input type="text" name="pf"></p>
     <p>Enter your small forward:<input type="text" name="sf"></p>
     <p>Enter your center:<input type="text" name="c"></p>
     <input type="submit" value="submit">
   </form>

 </body>
</html>
